*{
  box-sizing: border-box;
}

html, body{
  font-family: Arial, sans-serif;
  color: rgb(53,50,48);
  line-height: 1.4;
  margin: 0;
}

a{
  color: rgb(53,50,48);
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header{
  background: rgb(40,44,52);
}

#logo{
  height: 40px;
}

nav a{
  color: #fff;
  color: rgb(255,255,255);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s all ease;
}
/* Das ist ein Kommentar in CSS */
nav a:hover{
  color: rgb(102,205,170);
}

@media (min-width: 768px){
  #menu{
    float: right;
  }

  header{
    height: 60px;
  }

  #menu li{
    float: left;
    margin-right: 20px;
  }
  /* id wird zu #*/
  #logo{
    margin-top: 10px;
  }

  /*class wird zu . Punkt*/
  .wrapper{
    width: 90%;
    margin: auto;
    
  }

}
